{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Contribution Stage: (Period {{ player.round_number }} of
    {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
    {% if session.config.ret|default:None %}
    <div class="alert alert-warning" role="alert">
        Your earnings after Computing Task are: {{ player.endowment }}
    </div>
    {% endif %}
    {% formfield player.contribution label = label %}

    {% next_button %}

    {% include Constants.instructions_template %}

    {{ block.super }}
{% endblock %}
