{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Deduction stage (Period {{ subsession.round_number }} of
    {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <b> Instructions for stage 2</b>
        </div>
        <div class="card-body">

            In this stage you can see the decisions and other participants in the your group,
            You can transfer up to <strong>{{ player.punishment_endowment }} points </strong> from your endowment to
            decrease the
            income of these
            participants. By transferring 1 point from your endowment you decrease the income of another
            participant by {{ Constants.punishment_factor }} points.

        </div>
    </div>



    {% if formset.non_form_errors %}
        {% for error in formset.non_form_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <table class="table table-hover table-striped table-responsive">
        {{ formset.management_form }}
        <thead>
        <tr>
            <th>Player:</th>
            <th>Contibution</th>
            <th>Deduction tokens</th>
            <th>Effect on their payoff:</th>
        </tr>
        </thead>

        {% for form in formset.forms %}
            <tr>
                <td>Player {{ forloop.counter }}</td>
                <td>{{ form.instance.receiver.contribution }}</td>
                <td>{% formfield form.amount label='' %}</td>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <td id="{{ form.amount.id_for_label }}"></td>
            </tr>

        {% endfor %}
    </table>

    {% next_button %}


{% endblock %}
{% block styles %}
    <style>
        .table {
            display: table !important
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            var pun_factor = {{ Constants.punishment_factor|json }};
            $('div.field-amount input').on('input', function () {
                var curvalue = $(this).val();
                var punishment_sent = -curvalue * pun_factor;
                $('td#' + $(this).attr('id')).html(punishment_sent);
            })
        });
    </script>
{% endblock %}