{% load staticfiles otree_tags %}


<h4>For example, if you contribute:</h4>

<div id="slider_you" class='sliders'> <div id="custom-handle" class="ui-slider-handle"></div></div>
<h4>... and average contribution of other {{Constants.num_others_per_group}} participants:</h4>
<div id="slider_others" class='sliders'> <div id="custom-handle" class="ui-slider-handle"></div></div>
<h4>Then:</h4>
<table class="table table-hover table-striped table-responsive  ">

    <tr style="font-weight:normal">

        <td style="font-weight:normal">
The others will earn an average of:</td>
        <td id='others_share'></td>
    </tr>
    <tr  style="font-weight:bold">

        <td>You will earn:</td>
        <td id='yourearnings'></td>
    </tr>
</table>

<hr>


{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
  var efficiency_factor = {{Constants.efficiency_factor}};
  var group_size = {{Constants.players_per_group}};
  var endowment = {{Constants.endowment}}
  var default_value = {{Constants.endowment}}/2;
  var changetab = function(start=false,who,curvalue=0 ) {
    var val_others =  default_value;
    var val_you =  default_value;
    if ( start==false) {
    if (who=='slider_you'){
      var val_others = $('#slider_others').slider("option", "value");
      var val_you = curvalue;
    }
    else {
      var val_others = curvalue;
      var val_you = $('#slider_you').slider("option", "value");
    };
  };

    var total = val_others*(group_size-1)+val_you;
    var indshare = total*efficiency_factor/group_size;
    var others_payoff = endowment - val_others+ indshare;
    // $('td#totalcontrib').text(Math.round(total));
    $('td#others_share').text(Math.round(others_payoff));
    $('td#yourearnings').text(Math.round(endowment-val_you+indshare));

   };
$(".sliders").slider(

{

            value:{{Constants.endowment}}/2,
            min: 0,
            max: {{Constants.endowment}},
            step: 1,
            create: function() {
              var handle = $(this).children("#custom-handle" );
              handle.text( $( this ).slider( "value" ) );
              curname=$(this).attr('id');
              changetab(true, curname,default_value);
            },
            slide: function( event, ui ) {
              var handle = $(this).children("#custom-handle" );
              curname=$(this).attr('id');

              handle.text( ui.value );
              changetab(false, curname,ui.value);
            }
}
);



});

</script>
  {% endblock %}
  {% block styles %}

<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
<style>
table > *:first-child:not(thead) td:first-child {
  font-weight: bold;
}
#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
</style>

  {% endblock %}
