{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Counting task - round {{ view.round_number }}
{% endblock %}

{% block content %}
<div class="bd-example-border-utils">

<div class="bd-example">
<div class="border border-primary rounded left align-middle pagination-centered "></div>
<div class="border border-secondary rounded right align-middle pagination-centered"></div>
</div>

</div>
    <p>
        Your task is to add up these two
        numbers</b>. <br>
        Submit your answer in the box below.
        The correct answer is <span id="correct_answer"></span>!
    </p>



    <div>Your answer is:</div>
    <input type="number" id="answer" class="offer" style="background-color: white" >
    <button class="answer btn btn-outline-dark" type="button" data-feedback="false">Answer</button>
    <p> Tasks attempted so far: <span id="tasks_attempted">{{ player.finished_tasks.count }}</span></p>
    <p> Tasks correct so far: <span id="tasks_correct"> {{ player.num_tasks_correct }}</span></p>
    {%  next_button %}

{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
    {% include 'includes/js_work_page.html' %}
{% endblock %}
{% block styles %}
    <style type="text/css">
    .red{
        color:red;
    }
    .bd-example-border-utils [class^=border] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f5f5f5;
        text-align: center;
        padding-top:20px;
        padding-bottom:20px;
        font-size:150%;
}
    </style>
{% endblock %}